<h1>EDIT  flight data</h1>

<% if @flight.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2> 
  <ul> 
    <% @flight.errors.full_messages.each do |msg| %> 
      <li><%= msg %></li> 
    <% end %> 
  </ul>

<% end %>

<%= form_with(model: @flight, local: true) do |f| %>
    <p> 
    <%= f.label :source %><br/> 
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.label :destination %><br/> 
    <%= f.text_field :destination %> 
  </p>
  <p>
    <%= f.label :price %><br/>
    <%= f.number_field  :price %>  

  </p>
  <p>
    <%= f.label :Date %><br/>
    <%= f.date_field :depart_date %><br/>
  </p>
  <p>
    <%= f.submit %> 
  </p>
<% end %>
