<%= render 'pages/navbar' %>
<h1 class="text-center my-4">All Flights listed by flight owners</h1>
<% if logged_in? %>
  <div class="d-flex justify-content-center mb-4">
    <%= link_to 'Add Flights', new_flight_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <% @flights.each do |flight| %>
      <div class="col-12 mb-4 d-flex justify-content-center">
        <div class="card text-center" style="width: 100%; max-width: 600px; border: 1px solid #ccc;">
          <div class="card-header">
            Flight by <%= flight.user.name %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">From: <%= flight.source %></p>
            <p class="card-text">Destination: <%= flight.destination %></p>
            <p class="card-text">Date: <%= flight.depart_date %></p>
            <p class="card-text">Price: <%= flight.price %> INR </p>
            <a href="#" class="btn btn-primary">Book Now !!</a>
          </div>
          <div class="card-footer d-flex justify-content-center">
            <% if logged_in? && flight.user == current_user %>
              <%= button_to 'Edit', edit_flight_path(flight), method: :get, class: 'btn btn-secondary me-2' %>
              <%= button_to 'Delete', flight_path(flight), method: :delete, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
