<%= render 'pages/navbar' %>

<div class="container my-5">
  <div class="card mb-4">
    <div class="card-body">
      This flight info according to ID
    </div>
  </div>

  <% flash.each do |name, msg| %> 
    <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="d-flex justify-content-center mb-4">
    <%= button_to 'Show all Flights', flights_path, method: :get, class: 'btn btn-primary' %>
  </div>

  <div class="card">
    <div class="card-header">
      Flight Details
    </div>
    <div class="card-body">
      <h5 class="card-title">Source: <%= @flight.source %></h5>
      <h5 class="card-title">Destination: <%= @flight.destination %></h5>
      <h5 class="card-title">Price: <%= @flight.price %></h5>
    </div>
  </div>
</div>
