<%= render 'pages/navbar' %>

<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= @user.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @user.email %></h6>
    </div>
  </div>

  <div class="row">
    <% @flights.each do |flight| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <div class="card-header text-center">
            <i class="fas fa-plane-departure fa-2x"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Flight Details</h5>
            <p class="card-text"><strong>Source:</strong> <%= flight.source %></p>
            <p class="card-text"><strong>Destination:</strong> <%= flight.destination %></p>
            <p class="card-text"><strong>Price:</strong> <%= flight.price %> INR </p>
            <p class="card-text"><strong>Departure Date:</strong> <%= flight.depart_date %></p>
          </div>
          <% if logged_in? && (flight.user == current_user || current_user.admin?) %>
            <div class="card-footer">
              <%= button_to 'Edit', edit_flight_path(flight), method: :get, class: 'btn btn-secondary me-2 mb-2' %>
              <%= button_to 'Delete', flight_path(flight), method: :delete, class: 'btn btn-danger mb-2' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
